.color {
    color: aquamarine;
}
.myFont {
    font-size: 34px;
}
.myFontFamily {
    font-family: 'Courier New', Courier, monospace;
}
#tramp-kaka div1 p {

}
#first-h1, #second-h1, #third-h1 {
    
}